@import '_mixins';

.favorite-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.fave-list {
    width: 300px;
    margin: 4% 1% 1% 1%;
    @include containerColor;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    padding: 1%;
    
    h3 {
        text-align: left;
        font-weight: 400;
        cursor: pointer;
    }
}

.fave-img {
    max-width: 300px;
}

p {
    font-size: 12px;
}

.delete {
    font-size: 1.5rem;
    float: right;
    margin-left: .25%;
    cursor: pointer;
}

.search-container {
   display: flex;
   justify-content: center;
   align-items: baseline;
   flex-direction: row;


   .search-input{
    height: 30px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    background-color: #CED1D3;
 }


}
