.fave-success-msg {
    color: green;
    position: absolute;
    top: 100px;
    right: 47%;
    margin: 0 auto;
}

// .save.active {
//     color: red;
// }

.test {
    font-size: 30px;
    color: yellow;
}