//re-useable styles
@mixin container {
    display: flex;
    justify-content: center;
    // max-height: 100%;
}

@mixin border {
    border: 5px solid #151718;
}


@mixin containerColor{
    background-color: #0E0C10;
}