@import '_mixins';


body {
    white-space: pre-wrap;
    background-color: #1E1F23;
  }

  h2 {
      text-align: center;
      color: white;
  }

h3 {
    text-align: center;
    color: #61626D;
   
}

.prev:hover {
   color: white;
   cursor: pointer;
}

.prev:active {
    color: paleturquoise;
    cursor: pointer; 
}

.next:hover {
    color: white;
    cursor: pointer; 
 }
 
 .next:active {
    color: paleturquoise;
    cursor: pointer; 
 }

.save {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1%;
}

.site-container-one .save:hover {
    color: #6845EB;
}



.site-container-one {
    @include container;
    display: grid;
    @include border;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 70%;
}


.price-container {
//  @include border;
   grid-column: 1 / 4;
   background-color: #0E0C10;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   width: auto;
   margin: 3% 5% 5% 5%;
   padding: .5%;
   border-radius: 15px;
   height: 150px;
}

.price-container p {
    text-align: center;
    color: #CED1D3;

}

.details-container {
    // @include border;
    grid-column: 1 / 3;
    background-color: #0E0C10;
    // border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0 5% 0 5%;
    padding: .5% 2%;
    border-radius: 15px;
 

}

.details-container p {
    word-wrap: none;
    word-break: break-all;
    color: #CED1D3;
}

.title {
    text-align: center;
}

.vehicleImg-container {
    grid-column: 3/ 3;
    margin: 0 10% 0 5%;
 


    img {
        max-width: auto;
        width: auto;
        border-radius: 15px;
    }

}

.page-num {
    grid-column: 1/4;
}

.page-num h3 {
    float: right;
    margin-right: 3%;
    font-size: 20px;
}



